<div class="flex-row-container-item">
    <x-nav-tree-view (itemClick)="onItemClick($event)" (itemCloseClick)="onItemCloseClick($event)"></x-nav-tree-view>
    <div class="flex-column-container-item11">
        <ng-container *ngFor="let grp of formGroups">
            <x-pur-list *ngFor="let list of getLists(grp)" [pageModel]="list"></x-pur-list>
            <x-pur-detail *ngFor="let item of getDetails(grp)" [pageModel]="item"></x-pur-detail>
        </ng-container>
        <ng-template xyzHostContainer></ng-template>
    </div>
</div>