<div style="display:flex;flex:1 0 100%;height: 100%">
    <x-nav-tree-view (itemClick)="onItemClick($event)" (itemCloseClick)="onItemCloseClick($event)"></x-nav-tree-view>
    <div style="display:flex;flex:1;flex-direction: column; width:100%">
        <ng-container *ngFor="let grp of formGroups">
            <x-pur-list *ngFor="let list of getLists(grp)" [pageModel]="list" [ngClass]="getClass(list)" style="flex-direction: column;height: 100%; margin: 5px; background-color: #f2f2f2"></x-pur-list>
            <!--<div style="display:flex;flex-direction: column; height:100%;">-->
            <x-pur-detail *ngFor="let item of getDetails(grp)" [pageModel]="item" [ngClass]="getDetailClass(item)" style="flex-direction: column; margin: 5px; background-color:#f2f2f2"></x-pur-detail>
            <!--</div>-->
            <ng-template xyzHostContainer></ng-template>
        </ng-container>
        <!--<div style="display: none">
            <ng-template host-container></ng-template>
        </div>-->
    </div>
</div>