<div (resize)="layoutTabs()" style="display:flex;flex-direction: column;flex: 1 0 auto;">
    <div #tabs class="chrome-tabs" style="flex:0 0 45px;height: 45px;min-height: 45px;">
        <div #tabContentEl class="chrome-tabs-content">
            <gx-nav-tab (click)="onTabClick($event,tab)" (mousedown)="onTabMouseDown($event,tab)" [style.zIndex]="tab.active ? tabCount + 2 : tabCount - idx " class="chrome-tab" [class.chrome-tab-just-added]="isJustAdded" [class.chrome-tab-current]='tab.active' *ngFor="let tab of tabHeaders let idx = index"
                [tabModel]="tab">
            </gx-nav-tab>
            <div (click)="onMenuPopup($event)" class="chrome-tab popupBtn">
                <i class="fa fa-fw fa-chevron-down"></i>
            </div>
        </div>
        <div #bottomBarEl style="display:none" [style.zIndex]="tabCount + 1 " class="chrome-tabs-bottom-bar"></div>
    </div>
    <div style="display:flex;flex:1;">
        <div *ngFor="let tabcontent of navTabModels" [ngClass]="getContentClass(tabcontent)">
            <div style="display:flex;flex:1 0 auto;background-color: #f2f2f2">
                <x-router-outlet style="display:flex;flex:1 0 auto;" [name]="tabcontent.outlet"></x-router-outlet>
            </div>
        </div>
    </div>
    <div style="display: none">
        <ng-template gxHostContainer></ng-template>
    </div>
</div>
<x-toasty></x-toasty>
<x-overlayPanel #menuPopup [contentStyle]="{padding:'0.5em 0em'}" position="bottom" [style]="{width:'189px','max-height':'455px'}" [showCloseIcon]="false" [dismissable]="true">
    <div style="width:189px;height:189px;overflow:auto">
        <ng-container *ngFor="let tabcontent of navTabModelOrders">
            <div (click)=" onMenuItemClick($event,tabcontent)" class="flex-row-col flex-col-xs middle-xs" style="height:24px">
                <div style="font-size: 0px; padding: 0px 5px; text-align: left;" class="flex-xs-col-3 ">
                    <img style="width:16px;height:16px;" [attr.src]="tabcontent.favicon">
                </div>
                <div style="padding: 0px 20px 0px 5px; text-align: left; white-space: nowrap;" class="flex-col-xs">{{tabcontent.title}}-{{tabcontent.order}}</div>
            </div>
        </ng-container>
    </div>
    <!-- <div class="flex-row-col flex-col-xs middle-xs" style="height:1px;margin: 5px 0px 5px 0px;background: #c6c6c6">
    </div> -->
</x-overlayPanel>